public net.minecraft.client.renderer.FogRenderer$MobEffectFogFunction
public net.minecraft.client.renderer.FogRenderer$FogData
public org.valkyrienskies.mod.common.util.EntityShipCollisionUtils getShipPolygonsCollidingWithEntity
##public org.valkyrienskies.mod.common.util.EntityShipCollisionUtils getShipPolygonsCollidingWithEntity(L;L;L;L;)Ljava/util/List;
